* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Outfit', sans-serif;
}

body {
   font-size: 1.125rem; /* 18px */
}

.container {
   width: 90%;
   max-width: 90%;
   margin: 0 auto;
}

/* Wrapper layout */
.layout-wrapper {
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: 30% 1fr;
   .card-wrapper {
      display: flex;
      justify-content: center;
      place-items: center;
      background-color: #8BC6EC;
      background:linear-gradient(135deg, #E3E3E3 0%,#5D6874 100%);
   }
   .form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F2F2F2;
   }
}

/* media queries */
@media screen and (max-width: 768px) {
   .layout-wrapper {
      grid-template-columns: repeat(1, 1fr);
      .form-wrapper {
         display: block;
      }
   }
}